@()

@main(showBanner = true) {
  <div ng-controller="AdminController">
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)" class="alert fade in">{{alert.msg}}</alert>
    <div style="position: relative; float: right; padding-right: 20px;">
      <span class="label label-warning" ng-show="anyUnsavedChanges()">You have unsaved changes</span>
      <button class="btn btn-small btn-success" ng-disabled="! anyUnsavedChanges()" ng-click="saveSettings()">
        Save Settings
      </button>
      <button class="btn btn-small" ng-disabled="! anyUnsavedChanges()" ng-click="undoChanges()">
        Undo Changes
      </button>
    </div>
    <tabset>
      <tab heading="Git Repositories">
        <button class="btn btn-small" ng-click="addRepository()">Add Another Repository</button>
        <br /><br />
        <table class="table table-striped" ui:sortable ng:model="working.git.repositories">
          <tr ng-repeat="repo in working.git.repositories">
            <td>
              <label>Server path:</label>
              <input type="text" style="width: 100px;" ng-model="repo.serverPrefix" />
            </td>
            <td>
              <label>Route {{ repo.serverPrefix }} to:</label>
              <input type="text" style="width: 150px;" ng-model="repo.routeDefaultTo" />
            </td>
            <td>
              <label>Git clone URL:</label>
              <input type="text" style="width: 400px;" ng-model="repo.cloneURL" />
            </td>
            <td>
              <label>Git branch:</label>
              <input type="text" style="width: 150px;" ng-model="repo.branch" />
            </td>
            <td width="100%" align="right" style="vertical-align: middle;">
              <div style="position: relative; float: right; padding-right: 20px;">
                <button class="btn btn-small btn-info" ng-show="repo.id != ''" ng-click="updateGitRepository(repo)">Update Now</button>
                <button class="btn btn-small btn-info" ng-show="repo.id != ''" ng-click="clearGitRepository(repo)">Clear</button>
                <button class="btn btn-small btn-danger" ng-click="deleteGitRepository(repo)">Delete</button>
              </div>
            </td>
          </tr>
        </table>
      </tab>
      <tab heading="Server">
        <label>Content directory:</label>
        <input type="text" ng-model="working.contentDir" />
        <label>Path to git executable:</label>
        <input type="text" ng-model="working.git.pathToExecutable" />
      </tab>
    </tabset>
  </div>
}
