@()

@main(showBanner = false) {
  <div class="hero-unit">
    <h1>getter.io</h1>
    <p>Your application is up and running!</p>
    <a class="btn btn-primary btn-large" href="/admin" target="_top">Configure application</a>
  </div>
  <div style="text-align: center">
    <div style="display: inline-block; text-align: left;">
      <strong>If you're seeing this page it's because the default route for a path has <br /> not been configured yet.</strong><br /><br />

      Begin by configuring settings in the administration area. You can:
      <ul>
        <li>Route GIT repositories to resource routes</li>
        <li>Configure webhooks to automatically update GIT repository caches</li>
      </ul>
    </div>
  </div>
}